{% extends "login/layout.html" %}

{% block body %}
<h1>Cadastro:</h1>
{% if message %}
    <div>{{ message }}</div>
{% endif %}
<br>
    <form action="{%url 'login:cadastro' %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Nome de Usuário" name="username">
        <br>
        <input type="password" placeholder="Senha" name="senha">
        <br>
        <input id="confirma" type="submit" value="Cadastrar">
    </form>
    <br>
    <a id="voltar" href="{%url 'login:index' %}">Voltar</a>
{% endblock %}