{% extends "listas/layout.html" %}

{% block body %}
    <h1>Lista: {{ lista.nome_lista }}</h1>
    <a id="back" href="{% url 'listas:index' %}">Todas as Listas</a>

    <h2>Produtos:</h2>
    <ul id="produtos">
        {% for produto in produto %}
            <li><b>{{ produto }}</b></li>
        {% empty %}
            <li>Sem Produtos</li>
        {% endfor %}
    </ul>

    <form action="{% url 'listas:livro' lista.id %}" method="post">
        {% csrf_token %}
        <select name="produto" id="">
            {% for produto in sem_lista %}
                <option value="{{ produto.id }}">{{ produto }}</option>
            {% endfor %}
        </select>
        <input id="confirma" type="submit" value="Adicionar">
    </form>

{% endblock %}